.docs-logo img {
    width: 100px;
    height: 100px;
    border-radius: 12px;    /* 角を少し丸める */
    border: 1px solid rgba(255, 255, 255, 0.1); /* 控えめな枠線 */
    margin-bottom: 12px;     /* 下の名前との距離 */
}

article#documenter-page img[src$=".svg"][alt*="Example block"] {
    display: block;
    margin-left: auto;
    margin-right: auto;
    
    width: 60%;
    min-width: 300px;
    max-width: 100%;
    height: auto;
    
    background-color: white; 
    padding: 15px;         
    border-radius: 6px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}